<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="stylesheet" href="/assets/css/recent.css">
  <link rel="stylesheet" href="/assets/css/home.css">

  <!-- GA -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-L84BND9M0T"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-L84BND9M0T');
  </script>
</head>

<body>
  {% include header.html %}

  <main>
    {{ content }}



<!-- Subscribe Form Section -->
<section class="subscribe-section">
  <div style="text-align:center; margin-top:2rem;">
    <iframe src="https://curatedtravelmagazine.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
  </div>
</section>
  </main>


  {% include footer.html %}
</body>
</html>
